<h1>{{ name }}</h1>


<!-- dl = definition list -->
<dl>
  <!-- td = table description -->
  <td>Nombre: </td>
  <dd>{{ name }}</dd>

  <td>Edad: </td>
  <dd>{{ age }}</dd>

  <td>Método: </td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado: </td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<!-- mx-2 = Margen en el eje x de 2 -->
<button
  *ngIf="name !== 'spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
  Cambiar Edad
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary">
  Reset
</button>
